In [1]:
import pandas as pd

In [2]:
frame = pd.read_csv("disneyRideTimes.csv", parse_dates=["dateTime"])

C:\Users\elife\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
valid = frame[~frame["waitMins"].isnull()]
valid.describe

<bound method NDFrame.describe of            rideID            dateTime  waitMins fastPassTime     status
22544      353291 2017-05-22 09:30:07       5.0          NaN  Operating
22545      353291 2017-05-22 10:30:15      45.0          NaN  Operating
22546      353291 2017-05-22 11:30:15      35.0          NaN  Operating
22547      353291 2017-05-22 12:30:15      30.0          NaN  Operating
22548      353291 2017-05-22 13:30:06      45.0          NaN  Operating
...           ...                 ...       ...          ...        ...
2354379  18774860 2017-10-31 19:00:12      75.0          NaN  Operating
2354380  18774860 2017-10-31 19:30:05      75.0          NaN  Operating
2354381  18774860 2017-10-31 20:00:12      55.0          NaN  Operating
2354382  18774860 2017-10-31 20:30:04      55.0          NaN  Operating
2354383  18774860 2017-10-31 21:00:12      55.0          NaN  Operating

[668850 rows x 5 columns]>

In [4]:
print(valid["rideID"].nunique())

66

In [5]:
print(frame["rideID"].nunique())

110

In [6]:
rides = pd.read_csv("rides.csv")
rides.describe

<bound method NDFrame.describe of           id  parkID                                               name  \
0     353291  330339                                      Astro Orbitor
1     353293  330339                                            Autopia
2     353295  330339                      Big Thunder Mountain Railroad
3     353301  330339                     Buzz Lightyear Astro Blasters
4     353323  330339                          Dumbo the Flying Elephant
5     353325  330339                                Enchanted Tiki Room
6     353327  330339                      Finding Nemo Submarine Voyage
7     353335  330339                   Frontierland Shootin' Exposition
8     353337  330339                                Gadget's Go Coaster
9     353347  330339                                    Haunted Mansion
10    353355  330339                           Indiana Jones Adventure
11    353363  330339                                      Jungle Cruise
12    353365  330339                              King Arthur Carrousel
13    353377  330339                                Matterhorn Bobsleds
14    353389  330339                              Mr. Toad's Wild Ride
15    353399  330339                                Peter Pan's Flight
16    353401  330339                         Pinocchio's Daring Journey
17    353405  330339                          Pirates of the Caribbean
18    353421  330339                       Roger Rabbit's Car Toon Spin
19    353427  330339                 Sleeping Beauty Castle Walkthrough
20    353429  330339                      Snow White's Scary Adventures
21    353437  330339                                    Splash Mountain
22    353439  330339               Star Tours - The Adventures Continue
23    353449  330339             The Many Adventures of Winnie the Pooh
24    353461  330339  The Disneyland Story presenting Great Moments ...
25    367492  330339                                 it's a small world
26    367495  330339                                Alice in Wonderland
27  16204726  330339                                         Fantasmic!
28  18237343  330339                               Star Wars Launch Bay
29  18237368  330339                                     Space Mountain
30  18243993  330339                        Star Wars: Path of the Jedi

                   land  height
0          Tomorrowland     NaN
1          Tomorrowland    32.0
2          Frontierland    40.0
3          Tomorrowland     NaN
4           Fantasyland     NaN
5         Adventureland     NaN
6          Tomorrowland     NaN
7          Frontierland     NaN
8     Mickey's Toontown    35.0
9    New Orleans Square     NaN
10        Adventureland    46.0
11        Adventureland     NaN
12          Fantasyland     NaN
13          Fantasyland    42.0
14          Fantasyland     NaN
15          Fantasyland     NaN
16          Fantasyland     NaN
17   New Orleans Square     NaN
18    Mickey's Toontown     NaN
19          Fantasyland     NaN
20          Fantasyland     NaN
21      Critter Country    40.0
22         Tomorrowland    40.0
23      Critter Country     NaN
24  Main Street, U.S.A.     NaN
25          Fantasyland     NaN
26          Fantasyland     NaN
27                  NaN     NaN
28         Tomorrowland     NaN
29         Tomorrowland    40.0
30         Tomorrowland     NaN  >

In [7]:
specifiedRides = valid[valid.rideID.isin(rides["id"].unique())]

In [8]:
print(specifiedRides["rideID"].unique())

[  353291   353293   353295   353301   353323   353325   353327   353337
   353347   353355   353363   353365   353377   353389   353399   353401
   353405   353421   353429   353437   353439   353449   367492   367495
 18237343 18243993]

In [9]:
newRide = rides[rides.id.isin(specifiedRides["rideID"].unique())]

In [12]:
print(newRide)
print(rides)

          id  parkID                                    name  \
0     353291  330339                           Astro Orbitor
1     353293  330339                                 Autopia
2     353295  330339           Big Thunder Mountain Railroad
3     353301  330339          Buzz Lightyear Astro Blasters
4     353323  330339               Dumbo the Flying Elephant
5     353325  330339                     Enchanted Tiki Room
6     353327  330339           Finding Nemo Submarine Voyage
8     353337  330339                     Gadget's Go Coaster
9     353347  330339                         Haunted Mansion
10    353355  330339                Indiana Jones Adventure
11    353363  330339                           Jungle Cruise
12    353365  330339                   King Arthur Carrousel
13    353377  330339                     Matterhorn Bobsleds
14    353389  330339                   Mr. Toad's Wild Ride
15    353399  330339                     Peter Pan's Flight
16    353401  330339              Pinocchio's Daring Journey
17    353405  330339               Pirates of the Caribbean
18    353421  330339            Roger Rabbit's Car Toon Spin
20    353429  330339           Snow White's Scary Adventures
21    353437  330339                         Splash Mountain
22    353439  330339    Star Tours - The Adventures Continue
23    353449  330339  The Many Adventures of Winnie the Pooh
25    367492  330339                      it's a small world
26    367495  330339                     Alice in Wonderland
28  18237343  330339                    Star Wars Launch Bay
30  18243993  330339             Star Wars: Path of the Jedi

                  land  height
0         Tomorrowland     NaN
1         Tomorrowland    32.0
2         Frontierland    40.0
3         Tomorrowland     NaN
4          Fantasyland     NaN
5        Adventureland     NaN
6         Tomorrowland     NaN
8    Mickey's Toontown    35.0
9   New Orleans Square     NaN
10       Adventureland    46.0
11       Adventureland     NaN
12         Fantasyland     NaN
13         Fantasyland    42.0
14         Fantasyland     NaN
15         Fantasyland     NaN
16         Fantasyland     NaN
17  New Orleans Square     NaN
18   Mickey's Toontown     NaN
20         Fantasyland     NaN
21     Critter Country    40.0
22        Tomorrowland    40.0
23     Critter Country     NaN
25         Fantasyland     NaN
26         Fantasyland     NaN
28        Tomorrowland     NaN
30        Tomorrowland     NaN
          id  parkID                                               name  \
0     353291  330339                                      Astro Orbitor
1     353293  330339                                            Autopia
2     353295  330339                      Big Thunder Mountain Railroad
3     353301  330339                     Buzz Lightyear Astro Blasters
4     353323  330339                          Dumbo the Flying Elephant
5     353325  330339                                Enchanted Tiki Room
6     353327  330339                      Finding Nemo Submarine Voyage
7     353335  330339                   Frontierland Shootin' Exposition
8     353337  330339                                Gadget's Go Coaster
9     353347  330339                                    Haunted Mansion
10    353355  330339                           Indiana Jones Adventure
11    353363  330339                                      Jungle Cruise
12    353365  330339                              King Arthur Carrousel
13    353377  330339                                Matterhorn Bobsleds
14    353389  330339                              Mr. Toad's Wild Ride
15    353399  330339                                Peter Pan's Flight
16    353401  330339                         Pinocchio's Daring Journey
17    353405  330339                          Pirates of the Caribbean
18    353421  330339                       Roger Rabbit's Car Toon Spin
19    353427  330339                 Sleeping Beauty Castle Walkthrough
20    353429  330339                      Snow White's Scary Adventures
21    353437  330339                                    Splash Mountain
22    353439  330339               Star Tours - The Adventures Continue
23    353449  330339             The Many Adventures of Winnie the Pooh
24    353461  330339  The Disneyland Story presenting Great Moments ...
25    367492  330339                                 it's a small world
26    367495  330339                                Alice in Wonderland
27  16204726  330339                                         Fantasmic!
28  18237343  330339                               Star Wars Launch Bay
29  18237368  330339                                     Space Mountain
30  18243993  330339                        Star Wars: Path of the Jedi

                   land  height
0          Tomorrowland     NaN
1          Tomorrowland    32.0
2          Frontierland    40.0
3          Tomorrowland     NaN
4           Fantasyland     NaN
5         Adventureland     NaN
6          Tomorrowland     NaN
7          Frontierland     NaN
8     Mickey's Toontown    35.0
9    New Orleans Square     NaN
10        Adventureland    46.0
11        Adventureland     NaN
12          Fantasyland     NaN
13          Fantasyland    42.0
14          Fantasyland     NaN
15          Fantasyland     NaN
16          Fantasyland     NaN
17   New Orleans Square     NaN
18    Mickey's Toontown     NaN
19          Fantasyland     NaN
20          Fantasyland     NaN
21      Critter Country    40.0
22         Tomorrowland    40.0
23      Critter Country     NaN
24  Main Street, U.S.A.     NaN
25          Fantasyland     NaN
26          Fantasyland     NaN
27                  NaN     NaN
28         Tomorrowland     NaN
29         Tomorrowland    40.0
30         Tomorrowland     NaN

In [ ]:
print(specifiedRides['status'].unique())
specifiedRides = specifiedRides[specifiedRides['status'] == 'Operating']
specifiedRides = specifiedRides.drop(["fastPassTime", "status"], axis = 1)
specifiedRides.describe

In [54]:
# specifiedRides.to_csv("validRideData.csv")